.footer {
    margin-top:100px;
    display: flex;
    background-color: #201f1f;
    color: white;
    padding: 20px;
    text-align: center;
  }

.footer-items {
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
}

  
  .footer img {
    width: 100px;
  }
  
  .footer a {
    color: white;
  }
  